@font-face {
  font-family: 'Truculenta';
  src: url('@/assets/fonts/Truculenta-Bold.ttf') format('TrueType'),
  url('@/assets/fonts/Truculenta-Bold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}