@import "fonts";
@import "variables";
/* @import '~bootstrap/scss/bootstrap'; */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'InterTight', sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: auto;
}

#main {
  min-height: 83dvh;
}

h1 {
  &.page-title {
    @include xl_bold;
  }
}

h4 {
  @include m_bold;
  color: $primary;
}

#primary {
  min-height: 83dvh;
}

.not-found {
  &_holder {
    max-width: 600px;
    margin-inline: auto;
  }

  &_error {
    text-align: center;
    @include xxl_bold;
    color: $accent;
    display: block;
  }

  &_title {
    text-align: center;
    @include xl_bold;
    color: $primary;
    margin-bottom: 20px;
  }

  &_desc {
    @include m_regular;
    color: $secondary;
    text-align: center;
  }

  &_btn {
    margin-inline: auto;
    margin-top: 20px;
  }
}