/*============= FUNCTIONS ===============*/
@function calcFluidFontSize($f-min, $f-max) {
  $k: calc(($f-max - $f-min) / (1920 - 320));
  $b: $f-min - $k * 320;

  $b: $b * 1px;

  @return clamp(#{$f-min}px, calc(#{$k} * 100vw + #{$b}), #{$f-max}px);
}


/*================ COLORS ================*/
$primary: #161616;
$accent: #FFD622;
$hover: #EFC223;
$red: red;
$neutral: #F4F4F4;
$card: #ffffff;
$system: #F4F4F4;
$secondary: #646464;
$ghost: #B1B1B1;
$border: #E1E1E1;
$success: #22BB33;

/*================ MIXINS ================*/
@mixin h4 {
  font-size: calcFluidFontSize(18, 25);
  font-weight: 600;
  line-height: 110%;
}

@mixin xl_bold {
  font-size: calcFluidFontSize(30, 64);
  font-weight: 700;
  line-height: 64px;


  @media (max-width: 992px) {
    line-height: unset;
  }
}

@mixin l_bold {
  font-size: calcFluidFontSize(22, 40);
  font-weight: 700;
  line-height: 44px;

  @media (max-width: 992px) {
    line-height: unset;
  }
}

@mixin m_bold {
  font-weight: 700;
  font-size: calcFluidFontSize(17, 24);
  line-height: 133%;
}

@mixin m_regular {
  font-weight: 600;
  font-size: calcFluidFontSize(14, 16);
  line-height: 150%;
}

@mixin s_regular {
  font-weight: 500;
  font-size: calcFluidFontSize(12, 14);
  line-height: 143%;
}

@mixin p17600 {
  font-size: calcFluidFontSize(14, 17.5);
  font-weight: 600;
  line-height: 25px;

  @media (max-width: 992px) {
    line-height: unset;
  }
}

@mixin xxl_bold {
  font-size: calcFluidFontSize(120, 300);
  font-weight: 700;
}