@import "../../styles/includes";

.button {
  @include button;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all .4s ease-out;

  svg {
    transition: fill .4s ease-out;

    path {
      transition: stroke .4s ease-out;
    }
  }

  &_invert {
    border: 2px solid var(--card);
    background: transparent;
    color: var(--card);

    svg {
      path {
        stroke: var(--card);
      }
    }

    &:hover {
      color: var(--head);
      background: var(--card);

      svg {
        path {
          stroke: var(--head);
        }
      }
    }
  }
}