@import "styles/variables";

.logo {
  &-holder {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    width: fit-content;

    &:hover {
      .logo-title {
        color: $accent;
      }
    }
  }

  &-icon {
    width: 50px;
    height: 50px;
    display: block;
    object-fit: contain;
  }

  &-title {
    @include m_bold;
    color: $primary;
    transition: color .4s ease-out;
  }
}