@font-face {
  font-display: swap;
  font-family: "InterTight";
  font-style: normal;
  font-weight: 400;
  src: url("InterTight-Regular.ttf") format("OpenType");
}

@font-face {
  font-display: swap;
  font-family: "InterTight";
  font-style: normal;
  font-weight: 500;
  src: url("InterTight-Medium.ttf") format("OpenType");
}

@font-face {
  font-display: swap;
  font-family: "InterTight";
  font-style: normal;
  font-weight: 600;
  src: url("InterTight-SemiBold.ttf") format("OpenType");
}

@font-face {
  font-display: swap;
  font-family: "InterTight";
  font-style: normal;
  font-weight: 700;
  src: url("InterTight-Bold.ttf") format("OpenType");
}

@font-face {
  font-display: swap;
  font-family: "InterTight";
  font-style: normal;
  font-weight: 900;
  src: url("InterTight-ExtraBold.ttf") format("OpenType");
}