@import "styles/variables";

.header {
  padding: 41px 0;
  background: $card;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 999;

  &-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &_content {
      display: flex;
      align-items: center;
      gap: 44px;
    }

    &_phone {
      display: block;
      @include m_regular;
      color: $primary;
      transition: color .4s ease-out;
      text-decoration: none;

      &:hover {
        color: $hover;
      }
    }

    &_burger-menu {
      cursor: pointer;
      display: none;
      flex-direction: column;
      background-color: transparent;
      height: 40px;
      width: 40px;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 2px;
      flex-shrink: 0;

      span {
        background-color: $primary;
        width: 30px;
        height: 4px;
        transition: all 0.3s ease-in;
        pointer-events: none;
      }

      &.opened {
        background-color: $primary;

        span {
          background-color: $card;
        }
      }
    }
  }
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 30px;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  background-color: $system;
  padding: 30px;
  transition: all 0.3s ease-in;
  transform: translateX(-350px);
  z-index: 9999;

  &.opened {
    transform: translateX(0);
  }

  .mobile-menu {
    &_close-button {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 35px;
      font-weight: 600;
      color: $primary;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    &-holder {
      &_content {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding: 20px 0;

    &-holder {
      &_navbar {
        display: none;
      }

      &_burger-menu {
        display: flex;
      }
    }
  }
}

@media (max-width: 540px) {
  .header {
    &-holder {
      &_phone {
        display: none;
      }

      &_button {
        display: none;
      }
    }
  }
}