@import 'styles/variables';

.counter {
  &__title {
    @include h4;
  }

  &__button {
    background: blue;
    padding: 15px 30px;
    border: 1px solid blue;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
}

