/*============= FUNCTIONS ===============*/
@function calcFluidFontSize($f-min, $f-max) {
  $k: calc(($f-max - $f-min) / (1920 - 320));
  $b: $f-min - $k * 320;

  $b: $b * 1px;

  @return clamp(#{$f-min}px, calc(#{$k} * 100vw + #{$b}), #{$f-max}px);
}

/*============= MIXINS ===============*/
@mixin example {
  font-size: calcFluidFontSize(12, 14);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

@mixin h1 {
  font-size: calcFluidFontSize(30, 85);
  font-weight: 700;
  line-height: 85px;
}

@mixin bold {
  font-size: calcFluidFontSize(14, 18);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
@mixin bold_logo {
  font-size: calcFluidFontSize(18, 18);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@mixin button {
  font-size: calcFluidFontSize(14, 18);
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@mixin bold24 {
  font-size: calcFluidFontSize(16, 24);
  font-weight: 600;
  line-height: 37px;
}